.wood1 {
  color: #deb886;
}

.wood4 {
  color: #42291a;
}

/*
      wood2: '#98633B',
      wood3: '#6F432A',
      wood4: '#5A3828',
      wood5: '#42291A',
      danger: '#e3342f', */

.nick {
  background-color: white;
  box-shadow: 0px 0px 0px 0px rgba(150, 105, 105, 0.5);
  border-radius: 5%;
  padding: 2rem;
}

.starColor {
  color: #72082d;
}

.wider {
  width: 75%;
  align-items: center;
}

.nick:hover {
  z-index: 75;
  /* background-color: rgb(230, 206, 206); */
  box-shadow: 10px 10px 10px 10px rgba(150, 89, 89, 0.5);
}

.nav {
  z-index: 100;
}

.sticky {
  position: sticky;
  top: 66px;
  z-index: 250;
  background-color: white;
}

.navUserImage {
  width: 46px;
  border-radius: 50%;
  border: 3px solid #deb886;
}

.bigz {
  z-index: 300;
}
.btn {
  background-color: rgb(222, 184, 134);
}

.btn:hover {
  background-color: rgb(152, 99, 59);
  color: whitesmoke;
}

.selected {
  background-color: rgb(152, 99, 59);
  color: whitesmoke;
}

.centerup {
  margin: auto;
}

.cartDrop {
  position: fixed;
  top: 66px;
  right: 50px;
  background-color: #deb886;
  color: #42291a;
  padding: 1rem;
  border: solid 2px #42291a;
  border-radius: 5%;
  box-shadow: 4px 4px 4px rgba(150, 89, 89, 0.5);
}

.flexy {
  display: flex;
}

.bagCount {
  position: absolute;
  right: 76px;
  top: 20px;
  font-weight: 800;
  text-align: center;
}

.singleProd {
  justify-content: center;
}

.singleLeft {
  flex: auto;
}

.singleRight {
  flex: 1;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-items img {
  width: 5rem;
}

.down {
  padding: 20rem;
}
