.wood1 {
  color: #deb886;
}

.wood4 {
  color: #42291a;
}

/*
      wood2: '#98633B',
      wood3: '#6F432A',
      wood4: '#5A3828',
      wood5: '#42291A',
      danger: '#e3342f', */

.nick {
  background-color: white;
  box-shadow: 0px 0px 0px 0px rgba(150, 105, 105, 0.5);
  border-radius: 5%;
  padding: 2rem;
}

.starColor {
  color: #72082d;
}

.wider {
  width: 75%;
  align-items: center;
}

.nick:hover {
  z-index: 75;
  /* background-color: rgb(230, 206, 206); */
  box-shadow: 10px 10px 10px 10px rgba(150, 89, 89, 0.5);
}

.nav {
  z-index: 100;
}

.logout:hover {
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: 66px;
  z-index: 250;
  background-color: white;
}

.navUserImage {
  width: 46px;
  border-radius: 50%;
  border: 3px solid #deb886;
}

.bigz {
  z-index: 300;
}
.btn {
  background-color: rgb(222, 184, 134);
}

.btn:hover {
  background-color: rgb(152, 99, 59);
  color: whitesmoke;
}

.selected {
  background-color: rgb(152, 99, 59);
  color: whitesmoke;
}

.centerup {
  margin: auto;
}

.cartDrop {
  position: fixed;
  top: 66px;
  right: 50px;
  background-color: #deb886;
  color: #42291a;
  padding: 1rem;
  border: solid 2px #42291a;
  border-radius: 5%;
  box-shadow: 4px 4px 4px rgba(150, 89, 89, 0.5);
}

.userDrop {
  position: fixed;
  top: 66px;
  right: 0px;
  background-color: #deb886;
  color: #42291a;
  padding: 1rem;
  border: solid 2px #42291a;
  border-radius: 5%;
  box-shadow: 4px 4px 4px rgba(150, 89, 89, 0.5);
}

.flexy {
  display: flex;
}

.bagCount {
  position: absolute;
  right: 76px;
  top: 20px;
  font-weight: 800;
  text-align: center;
  width: 20px;
}

.singleProd {
  justify-content: center;
}

.singleLeft {
  flex: auto;
}

.singleRight {
  flex: 1;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-items img {
  width: 5rem;
}

.down {
  padding: 20rem;
}

.checkout-container {
  display: flex;
  justify-content: space-around;
}

.order-topper {
  display: flex;
  justify-content: space-evenly;
}
.listItems img {
  width: 5rem;
}
.orders-listItems {
  display: flex;
}

button {
  display: block;
  font-size: 16px;
  width: calc(100% - 300px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: blue;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 blue;
  border-radius: 4px;
  color: blue;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}
